@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css/blog")

<!--We can just add link and use emoji without downloading all images and .css file-->
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<header>
    <a class="nick" href="@Url.Action("Index", "Home")">80LevelElf about IT</a>
    <a id="notes-ref" href="@Url.Action("Index", "PostPreviews", new { pageIndex = 1 })">Записи</a>
    <a id="my-projects_ref" href="@Url.Action("Index", "MyProjects")">Мои проекты</a>
    <a id="about-me-ref" href="@Url.Action("Index", "AboutMe")">Обо мне</a>
</header>

<div class="content-div">
    @RenderBody()
</div>

<footer>
    <label>Салахутдинов Рустам (2016 - @DateTime.Now.Year)</label>
</footer>

<!--For Google Analytics-->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-84262017-1', 'auto');
    ga('send', 'pageview');

</script>