@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/css/blog")
@Styles.Render("~/Content/themes/base/css")

<!--We can just add link and use emoji without downloading all images and .css file-->
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<header>
    <a class="nick" href="@Url.Action("Index", "Home")">80LevelElf about IT</a>
    <a id="notes-ref">Записи</a>
    <a id="my-projects_ref" href="@Url.Action("Index", "MyProjects")">Мои проекты</a>
    <a id="about-me-ref" href="@Url.Action("Index", "AboutMe")">Обо мне</a>
</header>

<div class="content-div">
    @RenderBody()
</div>

<footer>
    <label>Салахутдинов Рустам - 2016</label>
</footer>