<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
	@Styles.Render("~/Content/themes/base/css")
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryui")

    @RenderBody()
</body>
</html>