@model PersonalBlog.Entities.PostDto

@{
    ViewBag.Title = @Model.Title;
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

@Styles.Render("~/Content/css/post")
@Styles.Render("~/Content/css/highlightStyle")

@Scripts.Render("~/bundles/postManager")
@Scripts.Render("~/bundles/post")
@Scripts.Render("~/bundles/markdown")
@Scripts.Render("~/bundles/highlight")

<div class="post-wrapper">
    <div class="header">
        <label class="title">@Model.Title</label>
    </div>
    <div class="source">
        @Model.Source
    </div>
    <div class="info">
        <div class="right">
            <label class="view-count">@Model.ViewCount просмотров</label>
            <i class="added-time">(@Model.CreationDate.ToShortDateString())</i>
        </div>
    </div>
</div>

@{
    Disqus.Initialize("80levelelf");
}

@Disqus.ShowComments("post/" + Model.PostId)