@model PersonalBlog.Models.AddOrUpdatePostModel

@{
    ViewBag.Title = "Добавить или обновить пост";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Styles.Render("~/Content/css/markdown-editor")

@Scripts.Render("~/bundles/markdown")
@Scripts.Render("~/bundles/markdown-editor")
@Scripts.Render("~/bundles/postManager")
@Scripts.Render("~/bundles/addOrUpdatePost")

<div class="title-wrapper">
    <label>Заголовок:</label>
    <input id="title" type="text" value="@Model.Title"/>
</div>

<textarea id="md-editor" data-post-id="@Model.PostId">@Model.Source</textarea>

<button id="add-or-update-button">Добавить или обновить</button>