@using PersonalBlog.Entities
@model PersonalBlog.DAL.Results.PageResult<PostBaseDto>

@{
    ViewBag.Title = "Посты";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="tools-panel">
    <a class="add-new-post" href="@Url.Action("Add")">Добавить новый пост</a>
</div>

@foreach (PostBaseDto post in Model.ResultList)
{
    <div class="admin-list-item">
        <i>[@post.PostId]</i>
        <label>@post.Title</label>

        <div class="action-div">
            <a class="edit-link" href="@Url.Action("Update", new {postId = post.PostId})">редактировать</a>
            <a class="delete-link"  href="@Url.Action("Delete", new {postId = post.PostId})">удалить</a>
        </div>
    </div>
}

@Html.Action("Pager", "Element",
    new { action = "Posts", controller = "Admin", currentPageIndex = Model.CurrentPage, pageCount = Model.PageCount })

<script>
    $(function () {
        $("#posts").addClass("selected");
    });
</script>