@using PersonalBlog.Entities
@model List<PostPreviewDto>

@{
    ViewBag.Title = "Мои записи";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

@Styles.Render("~/Content/css/post-previews")

@{
    foreach (PostPreviewDto post in Model)
    {
        <div class="post-wrapper">
            <div class="header">
                <a class="title" href="@Url.Action("Index", "Post", new {postId = post.PostId})">@post.Title</a>
            </div>
            <div class="source">
                @post.Preview
            </div>
            <div class="info">
                <a class="to-detail" href="@Url.Action("Index", "Post", new {postId = post.PostId})">Подробнее</a>
                <i class="added-time">(@post.CreationDate.ToShortDateString())</i>
            </div>
        </div>
    }
}

<script>
    $(function () {
        $("#notes-ref").addClass("selected");
    });
</script>
